.calendar-item {
    background-color: #efefef;
    border: 0.3vh solid #efefef;
}
.calendar-item.today {
    background-color: lightgray;
    border: 0.3vh solid lightgray;
}
.calendar-item.selected {
    color: white;
    background-color: black;
    border: 0.3vh solid black;
    font-weight: bold;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-column-gap: 0.3vw;
    grid-row-gap: 0.3vh;
}
